header{
    background-color:rgb(214, 196, 150);
    height: 30px;
    height: 30px;
}
p{
    color: rgb(240, 236, 217);
    text-align: center;
    }
nav{
    background-color:rgb(214, 196, 150);
    height: 30px;
    height: 30px;
 
    
}
section{
    height: 30px;
    height: 30px;
    background-color:rgb(214, 196, 150);
    padding: 0px;
    margin: 0px;
 
}
footer{
    height: 30px;
    height: 30px;
    background-color:rgb(214, 196, 150);
  
}
ul {
    display: flex;
   

}
ul li {

    list-style: none;
    display: flex;

}
nav li{
    padding: 5px;
}
a{
    text-decoration: none;
}